.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-bg-player);
}

.trackВuration {
  opacity: 0.7;
}

.iconHeart {
  color: var(--color-primary);
  fill: transparent;
  transition: fill 0.2s;
}

.iconHeart:hover {
  fill: var(--color-primary);
}

.isFavorite {
  fill: red;
}

.iconEllipsis {
  color: #fff;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.iconEllipsis:hover {
  opacity: 1;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
