.customMenu {
  position: absolute;
  /* width: 300px; */

  display: none;
  align-items: center;
  gap: 8px;

  top: 45px;
  left: 0;
  z-index: 10;
  padding: 8px 16px;
  background-color: var(--color-bg-player);
  border-radius: 8px;
  animation: fade-in 0.3s;
}

.isOpen {
  display: flex;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
