.lyrics div {
  margin-bottom: 24px;
  font-weight: 500;
  color: var(--color-primary);
}

.lyrics div:not(:first-child) {
  margin-top: 24px;
}

.lyrics p {
  margin-bottom: 8px;
  opacity: 0.65;
  font-size: 14px;
  line-height: 2;
  position: relative;
}

.lyrics p.active {
  font-weight: 500;
  opacity: 1;
}

.play {
  fill: var(--color-primary);
  color: var(--color-primary);

  position: absolute;
  top: 3px;
  left: -20px;
}
